@import "bootstrap-sprockets";
@import "bootstrap";
@import "expenses";
@import "reports";

.admin-bar {
  width: 100%;
  height: 40px;
  background-color: lightgreen;
  text-align: center;
}

.admin-bar h3 {
  padding-top: .3%;
  margin-top: 0;
}

.navbar {
  margin-bottom: 0;
}
