.new-expense-errors {
  text-align: center;
}

.new-expense-container {
  border: solid black 3px;
  padding: 2%;
}

.expense-title {
  text-align: center;
  margin-bottom: 3%;
}

.expense-submit-row {
  text-align: center;
  padding-top: 2%;
}
