.reports-title {
  text-align: center;
  margin-bottom: 3%;
}

.reports-table {
  width: 25%;
}

.report-date-row {
  text-align: center;
}

.report-date-input-row {
  text-align: center;
}

table.center {
  margin-left:auto;
  margin-right:auto;
}
